*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}
nav{
    padding: 25px 25px 25px 100px;
    box-shadow:0px 6px 10px rgb(185, 185, 185);
    a{
        margin-right: 50px;
        font-size: 22px;
        text-decoration: none;
        color: black;
    }
    a .first{
        display: inline;
    }
    a:hover{
        text-decoration: underline orange;
        text-underline-offset: 8px;
        .first{
            color: orange;
            
        }
    }
}